{% extends 'base.html' %}

{% block title %}Buscar Mentorias{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <h2>Buscar Mentorias</h2>
<form method="GET" action="{% url 'buscar_mentorias' %}">
    <div>
        <label for="location_city">Cidade:</label>
        <input type="text" name="location_city" id="location_city" class="form-control"
               value="{{ request.GET.location_city }}" placeholder="Digite a cidade">
    </div>
    <div>
        <label for="keywords">Palavras-chave:</label>
        <input type="text" class="form-control" name="keywords" id="keywords" value="{{ request.GET.keywords }}"
        placeholder="Digite palavras-chave">
    </div>
    <div>
        <label for="mentor_ativo">Mostrar apenas mentorias com mentores ativos:</label>
        <input type="checkbox" class="form-group" name="mentor_ativo"
               id="mentor_ativo" {% if request.GET.mentor_ativo %}checked{% endif %}>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Buscar</button>
</form>

<hr>
  <a href="{% url 'dashboardpub' %}" class="btn btn-secondary"><i class="bi bi-grid"></i>Voltar para o Painel</a>
   <!-- Exibe mensagens de sucesso ou erro -->
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

<h3 class="mb-4">Mentorias</h3>

<!-- Exibição das mentorias -->
<ul class="list-group">
    {% for mentorship in mentorias %}
        <li class="list-group-item">
            <h5>
                Mentoria:
                <a href="{% url 'project-detail' mentorship.project.id %}" class="text-decoration-none">
                    {{ mentorship.project.title }}
                </a>
            </h5>
            <p class="mb-1"><strong>Mensagem:</strong> {{ mentorship.message }}</p>
            <p class="mb-1">
                <strong>Cidade:</strong> {{ mentorship.project.location_city.nome }} |
                <strong>Estado:</strong> {{ mentorship.project.location_state }}
            </p>
            <p class="mb-2"><strong>Palavras-chave:</strong> {{ mentorship.project.keywords }}</p>

            <h6 class="mt-3">Mentores Interessados</h6>
            {% if mentorship.interested_mentors.all %}
                <ul class="list-unstyled">
                    {% for mentor in mentorship.interested_mentors.all %}
                        <li class="mb-2">
                            <strong>Nome:</strong> {{ mentor.mentor.nome }}<br>
                            <strong>Bio:</strong> {{ mentor.mentor.bio }}<br>
                            <a href="{{ mentor.mentor.linkedin }}" target="_blank" class="btn btn-primary btn-sm">
                                LinkedIn<i class="bi bi-linkedin"></i></a>
                            {% if mentor.is_active %}
                                <span class="badge bg-success">Mentor Ativo</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum mentor interessado.</p>
            {% endif %}
            <a href="{% url 'detalhes_mentoria' mentorship.id %}" class="btn btn-info btn-sm">
                            Ver detalhes <i class="bi bi-eye"></i>
            </a>
            <hr>
        </li>
    {% empty %}
        <li class="list-group-item text-center">Nenhuma mentoria encontrada.</li>
    {% endfor %}
</ul>

    </div>
</div>
</div>
</div>
{% endblock %}