{% extends 'base.html' %}

{% block title %}Contato{% endblock %}

{% block content %}
<!-- ***** Contact Area Start ***** -->
    <div class="fancy-bg-dark section-padding-100">
        <div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
                    <!-- Contact Details -->
                    <div class="contact-details-area">
                        <div class="section-heading">
                            <h2>Contate-nos</h2>
                            <p>Possui interesse em alguma dessas tecnologias? Ou ainda possui uma tecnologia que deseja avaliar ou dar andamento? Contate-nos e deixe-nos ajudá-lo no processo.</p>
                        </div>
                        <p>IFPI-Campus Floriano <br>robson.freitas@ifpi.edu.br
                        </p>
                        <p>R. Francisco Urquiza Machado, 462 - Meladão, Floriano - PI, 64800-000<br> Floriano - PI, 64800-000</p>
                    </div>
                    <!-- Follow Us -->
                    <div class="follow-us-area">
                        <h2>Siga-nos:</h2>
                        <a href="https://www.facebook.com/ifpiaui/" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/ifpiaui"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
</svg></a>
                        <a href="https://www.instagram.com/ifpiaui/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Contact Form -->
                    <div class="contact-form-area">
                        <div class="section-heading">
                            <h2>Aguardamos o seu contato!</h2>
                      </div>
                        <div class="contact-form">
                            <form method="post">
                                <!-- Message Input Area Start -->
                                <div class="contact_input_area">
                                    <div class="row">
                                        <!-- Single Input Area -->
                                        <div class="col-12">
                                            {% csrf_token %}
                                            {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            <div class="form-group">
                                                <label>NOME:</label>
                                                {{form.nome}}
                                            </div>
                                        </div>
                                        <!-- Single Input Area -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>E-MAIL:</label>
                                                {{form.email}}    
                                            </div>
                                        </div>
                                        <!-- Single Input Area -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>TELEFONE:</label>
                                                {{form.telefone}}
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>EMPRESA/INSTITUIÇÃO:</label>
                                                {{form.empresa_instituicao}}    
                                            </div>
                                        </div>
                                        <!-- Single Input Area -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>MENSAGEM:</label>
                                                {{form.mensagem}}    
                                            </div>
                                        </div>
                                        <!-- Single Input Area -->
                                        <div class="col-12">
                                            <button id="Inscricao" type="submit" class="btn fancy-btn fancy-dark bg-transparent">Enviar Mensagem</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ***** Contact Area End ***** -->
{% endblock %}