{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
    <div class="container fancy-bg-white">
        <div class="row">
            <div class="col-12">
                <h2>Dashboard</h2>
                <!-- Exibe mensagens de sucesso ou erro -->
                    {% if messages %}
                        <div>
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                <h3>Funcionalidades</h3>
                <div class="d-flex flex-wrap justify-content-start">
                    <a href="{% url 'buscar_parcerias' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Buscar Parcerias</a>
                    <a href="{% url 'buscar_mentorias' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                            Buscar Mentorias</a>
                </div>
                {% if user.is_authenticated %}
                {% if user.userprofile.user_type == 'estudante' %}
                    <h4>Estudante</h4>
                    <div class="d-flex flex-wrap justify-content-start">
                    <a href="{% url 'solicitar_mentoria' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Mentoria</a>
                    <a href="{% url 'ofertar_parcerias' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Parcerias</a>
                    <a href="{% url 'participacoes_projetos' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Participações em Projetos</a>
                        </div>
                {% elif user.userprofile.user_type == 'pesquisador' %}
                    <h4>Pesquisador</h4>
                    <div class="d-flex flex-wrap justify-content-start">
                                        <a href="{% url 'solicitar_mentoria' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Mentoria</a>
                    <a href="{% url 'ofertar_parcerias' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Parcerias</a>
                    <a href="{% url 'participacoes_projetos' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Participações em Projetos</a>
                    </div>
                {% elif user.userprofile.user_type == 'empresa' %}
                    <h4>Empresa</h4>
                    <div class="d-flex flex-wrap justify-content-start">
                    <div class="d-flex flex-wrap justify-content-start">
                                        <a href="{% url 'solicitar_mentoria' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Mentoria</a>
                    <a href="{% url 'ofertar_parcerias' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Parcerias</a>
                    <a href="{% url 'participacoes_projetos' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Participações em Projetos</a>
                    </div>
                    </div>
                {% elif user.userprofile.user_type == 'instituicao' %}
                    <h4>Instituição</h4>
                    <div class="d-flex flex-wrap justify-content-start">
                                        <a href="{% url 'solicitar_mentoria' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Mentoria</a>
                    <a href="{% url 'ofertar_parcerias' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Solicitar Parcerias</a>
                    <a href="{% url 'participacoes_projetos' %}" class="btn fancy-btn fancy-dark bg-transparent m-2">
                        Participações em Projetos</a>
                    </div>
                {% endif %}
                <!-- Seção de Mentorias Solicitadas -->
                <h4>Minhas Solicitações de Mentorias</h4>
                <ul>
                    {% for mentorship in solicitadas %}
                    <li>
                        <strong>Projeto:</strong> {{ mentorship.project.title }} <br>
                        <strong>Status:</strong> {% if mentorship.is_accepted %}Aceita{% else %}Pendente{% endif %} <br>
                        <strong>Mensagem:</strong> {{ mentorship.message }} <br>
                        {% if mentorship.has_interested_mentors %}
                            <!-- Botão para abrir o modal de detalhes e firmar mentoria -->
                            <h5>Intenções de Mentoria</h5>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#firmarMentoriaModal_{{ mentorship.id }}">
                                Ver Detalhes e Firmar Mentoria
                            </button>
                    <!-- Modal para exibir os detalhes do projeto e mentor -->
                    <div class="modal fade" id="firmarMentoriaModal_{{ mentorship.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ mentorship.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel_{{ mentorship.id }}">Detalhes da Mentoria</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Projeto: {{ mentorship.project.title }}</h5>
                                    <p>{{ mentorship.project.description }}</p>
                                    <h6>Mentores Interessados</h6>
                                    <form method="post" action="{% url 'firmar_mentoria' mentorship.id %}">
                                        {% csrf_token %}
                                        {% for mentor in mentorship.interested_mentors.all %}
                                            {% if mentor.is_active %}
                                                <p>Nome: {{ mentor.mentor.user.userprofile.nome }}<br>
                                                Bio: {{ mentor.mentor.user.userprofile.bio }}<br>
                                                <a href="{{ mentor.mentor.user.userprofile.linkedin }}" target="_blank">Perfil do LinkedIn</a><br>
                                                <span class="badge bg-success">Mentoria Ativa</span></p>
                                            {% else %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="mentores_firmar" value="{{ mentor.mentor.id }}" id="firmar_mentor_{{ mentor.id }}">
                                                <label class="form-check-label" for="firmar_mentor_{{ mentor.id }}">
                                                    Nome: {{ mentor.mentor.user.userprofile.nome }}<br>
                                                    Bio: {{ mentor.mentor.user.userprofile.bio }}<br>
                                                    <a href="{{ mentor.mentor.user.userprofile.linkedin }}" target="_blank">Perfil do LinkedIn</a>
                                                </label>
                                            </div>
                                            {% endif %}
                                        {% empty %}
                                            <p>Nenhum mentor interessado ainda.</p>
                                        {% endfor %}

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Firmar Mentoria</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                    </li>
                    <br>
                    {% empty %}
                    <p>Você ainda não solicitou nenhuma mentoria.</p>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    {% if solicitadas.has_previous %}
                    <a href="?page={{ solicitadas.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span>Página {{ solicitadas.number }} de {{ solicitadas.paginator.num_pages }}</span>
                    {% if solicitadas.has_next %}
                    <a href="?page={{ solicitadas.next_page_number }}">Próxima</a>
                    {% endif %}
                </div>
                <br>
                <!-- Seção de Mentorias Recebidas -->
                <h4>Outras Solicitações de Mentorias</h4>
                <ul>
                        {% for mentorshipoutros in solicitacoes_outros %}
                            <li>
                                <strong>Projeto:</strong> {{ mentorshipoutros.project.title }} <br>
                                <strong>Solicitante:</strong> {{ mentorshipoutros.project.owner.user.username }} <br>
                                <strong>Mensagem:</strong> {{ mentorshipoutros.message }} <br>
                                <button type="button" class="btn btn btn-secondary" data-bs-toggle="modal" data-bs-target="#InteresseModal_{{ mentorshipoutros.id }}">
                                Ver Detalhes e Demonstrar Interesse
                                </button>
                            </li>
                    <div class="modal fade" id="InteresseModal_{{ mentorshipoutros.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ mentorshipoutros.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel_{{ mentorshipoutros.id }}">Detalhes da Mentoria</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Projeto: {{ mentorshipoutros.project.title }}</h5>
                                <p>{{ mentorshipoutros.project.description }}</p>
                                <h6>Dono do Projeto: {{ mentorshipoutros.project.owner.user.userprofile.nome }}</h6>
                                <p>Bio: {{ mentorshipoutros.project.owner.bio }}</p> <!-- Adicione a bio do dono, se disponível -->
                                <h6>Mentores Interessados</h6>
                                <form method="post" action="{% url 'demonstrar_interesse' mentorshipoutros.id %}">
                                    {% csrf_token %}
                                    {% for mentor in mentorshipoutros.interested_mentors.all %}
                                        {% if mentor.is_active %}
                                            <p>
                                                Nome: {{ mentor.mentor.user.userprofile.nome }}<br>
                                                Bio: {{ mentor.mentor.bio }}<br>
                                                <a href="{{ mentor.linkedin }}" target="_blank">Perfil do LinkedIn</a><br>
                                                <span class="badge bg-success">Parceria Ativa</span>
                                            </p>
                                        {% else %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="mentores_interesse" value="{{ mentor.id }}" id="mentor_{{ mentor.id }}">
                                                <label class="form-check-label" for="mentor_{{ mentor.id }}">
                                                    Nome: {{ mentor.mentor.user.userprofile.nome }}<br>
                                                    Bio: {{ mentor.mentor.bio }}<br>
                                                    <a href="{{ mentor.linkedin }}" target="_blank">Perfil do LinkedIn</a>
                                                </label>
                                            </div>
                                    {% endif %}
                                    {% empty %}
                                        <p>Nenhum mentor interessado ainda.</p>
                                    {% endfor %}
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Demonstrar Interesse</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                     {% empty %}
                            <p>Não há mentorias solicitadas por outros.</p>
                        {% endfor %}
                    </ul>
                    <div class="pagination">
                    {% if solicitacoes_outros.has_previous %}
                    <a href="?page={{ solicitacoes_outros.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span>Página {{ solicitacoes_outros.number }} de {{ solicitacoes_outros.paginator.num_pages }}</span>
                    {% if solicitacoes_outros.has_next %}
                    <a href="?page={{ solicitacoes_outros.next_page_number }}">Próxima</a>
                    {% endif %}
                </div>
                <br>
                <h4>Minhas Solicitações de Parcerias</h4>
                <ul>
                    {% for partnership_request in parcerias_solicitadas %}
                        <li>
                            <strong>Projeto:</strong> {{ partnership_request.project.title }} <br>
                            <strong>Status:</strong> {% if partnership_request.is_accepted %}Aceita{% else %}Pendente{% endif %} <br>
                            <strong>Mensagem:</strong> {{ partnership_request.message }} <br>
                            {% if partnership_request.interested_partners.exists %}
                                <!-- Botão para abrir o modal de detalhes e firmar parceria -->
                                <h5>Intenções de Parceria</h5>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#Parceria_{{ partnership_request.id }}">
                                    Ver Detalhes e Firmar Parcerias
                                </button>

                                <!-- Modal para exibir os detalhes do projeto e parceiros -->
                                <div class="modal fade" id="Parceria_{{ partnership_request.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ partnership_request.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalparceria_{{ partnership_request.id }}">Detalhes da Parceria</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Projeto: {{ partnership_request.project.title }}</h5>
                                                <p>{{ partnership_request.project.description }}</p>
                                                <h6>Dono do Projeto: {{ partnership_request.project.owner.nome }}</h6>
                                                <p>Bio: {{ partnership_request.project.owner.bio }}</p>
                                                <p>Mensagem: {{ partnership_request.message }}</p>

                                                <h6>Parceiros Interessados</h6>
                                                <form method="post" action="{% url 'firmar_parceria' partnership_request.id %}">
                                                    {% csrf_token %}
                                                    {% for partner in partnership_request.interested_partners.all %}
                                                        {% if partner.is_active %}
                                                            <p>
                                                                Nome: {{ partner.partner.nome }}<br>
                                                                Bio: {{ partner.partner.bio }}<br>
                                                                <a href="{{ partner.partner.linkedin }}" target="_blank">Perfil do LinkedIn</a><br>
                                                                <span class="badge bg-success">Parceria Ativa</span>
                                                            </p>
                                                        {% else %}
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" name="parceiros_interesse" value="{{ partner.id }}" id="partner_{{ partner.id }}">
                                                                <label class="form-check-label" for="partner_{{ partner.id }}">
                                                                    Nome: {{ partner.partner.nome }}<br>
                                                                    Bio: {{ partner.partner.bio }}<br>
                                                                    <a href="{{ partner.partner.linkedin }}" target="_blank">Perfil do LinkedIn</a>
                                                                </label>
                                                            </div>
                                                        {% endif %}
                                                    {% empty %}
                                                        <p>Nenhum parceiro interessado ainda.</p>
                                                    {% endfor %}
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success">Firmar Parceria</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                        <br>
                    {% empty %}
                        <p>Você ainda não solicitou nenhuma parceria.</p>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    {% if parcerias_solicitadas.has_previous %}
                        <a href="?page_solicitadas={{ parcerias_solicitadas.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span>Página {{ parcerias_solicitadas.number }} de {{ parcerias_solicitadas.paginator.num_pages }}</span>
                    {% if parcerias_solicitadas.has_next %}
                        <a href="?page_solicitadas={{ parcerias_solicitadas.next_page_number }}">Próxima</a>
                    {% endif %}
                </div>
                <br>
                <h4>Outras Solicitações de Parcerias</h4>
                    <ul>
                        {% for partnershipoutros in solicitacoes_parcerias_outros %}
                            <li>
                                <strong>Projeto:</strong> {{ partnershipoutros.project.title }} <br>
                                <strong>Solicitante:</strong> {{ partnershipoutros.project.user.userprofile.nome }} <br>
                                <strong>Mensagem:</strong> {{ partnershipoutros.message }} <br>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#InteresseModal2_{{ partnershipoutros.id }}">
                                    Ver Detalhes e Demonstrar Interesse
                                </button>
                            </li>

                            <!-- Modal para cada solicitação de parceria -->
                            <div class="modal fade" id="InteresseModal2_{{ partnershipoutros.id }}" tabindex="-1" aria-labelledby="modalLabel_{{ partnershipoutros.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel_{{ partnershipoutros.id }}">Detalhes da Parceria</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Projeto: {{ partnershipoutros.project.title }}</h5>
                                            <p>{{ partnershipoutros.project.description }}</p>
                                            <h6>Dono do Projeto: {{ partnershipoutros.project.owner.user.userprofile.nome }}</h6>
                                            <p>Bio: {{ partnershipoutros.project.owner.user.userprofile.bio }}</p>

                                            <h6>Parceiros Interessados</h6>
                                            <form method="post" action="{% url 'demonstrar_interesse_parceria' partnershipoutros.id %}">
                                                {% csrf_token %}
                                                {% for partner in partnershipoutros.interested_partners.all %}
                                                    <div class="form-check">
                                                        <p>
                                                            Nome: {{ partner.partner.nome }}<br>
                                                            Bio: {{ partner.partner.bio }}<br>
                                                            <a href="{{ partner.partner.linkedin }}" target="_blank">Perfil do LinkedIn</a>
                                                        </p>
                                                    </div>
                                                        {% empty %}
                                                            <p>Nenhum parceiro interessado ainda.</p>
                                                        {% endfor %}
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success">Demonstrar Interesse</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Não há solicitações de parceria por outros.</p>
                                {% endfor %}
                            </ul>
                                <div class="pagination">
                                    {% if solicitacoes_parcerias_outros.has_previous %}
                                        <a href="?page_solicitadas={{ solicitacoes_parcerias_outros.previous_page_number }}">Anterior</a>
                                    {% endif %}
                                    <span>Página {{ solicitacoes_parcerias_outros.number }} de {{ solicitacoes_parcerias_outros.paginator.num_pages }}</span>
                                    {% if solicitacoes_parcerias_outros.has_next %}
                                        <a href="?page_solicitadas={{ solicitacoes_parcerias_outros.next_page_number }}">Próxima</a>
                                    {% endif %}
                                </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}