{% extends 'base.html' %}

{% block title %}Detalhes da Parceria{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
    <div class="container fancy-bg-white">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="mb-4">Detalhes da Parceria</h2>
                <div class="mb-3">
                    <strong>Projeto:</strong> {{ parceria.project.title }}<br>
                    <strong>Descrição do Projeto:</strong> {{ parceria.project.description }}<br>
                    <strong>Cidade:</strong> {{ parceria.project.location_city }}<br>
                    <strong>Estado:</strong> {{ parceria.project.location_state }}<br>
                    <strong>Palavras-chave:</strong> {{ parceria.project.keywords }}<br>
                    <strong>Mensagem:</strong> {{ parceria.message }}<br>
                    <strong>Dono do Projeto:</strong>
                    <a href="{% url 'public_profile' parceria.project.owner.user.username %}">
                        {{ parceria.project.owner.user.userprofile.nome }}
                    </a><br>
                    <strong>Bio do Dono:</strong> {{ parceria.project.owner.user.userprofile.bio }}<br>
                </div>

                <h3 class="mt-4">Parceiros Ativos</h3>
                <ul class="list-group mb-4">
                    {% for partner in interessados_ativos %}
                        <li class="list-group-item">
                            <strong>Nome:</strong> {{ partner.partner.nome }}<br>
                            <strong>Bio:</strong> {{ partner.partner.bio }}<br>
                            <a href="{{ partner.partner.linkedin }}" target="_blank" class="btn btn-link">Perfil do LinkedIn</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item text-center">Nenhum parceiro ativo no momento.</li>
                    {% endfor %}
                </ul>

                <a href="{% url 'buscar_parcerias' %}" class="btn btn-secondary">Voltar à Busca</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
