{% extends 'base.html' %}

{% block title %}Edição de Perfil{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn fancy-btn fancy-dark bg-transparent"><i class="bi bi-save"></i> Salvar</button>
</form>
                                  </div>
            </div>
</div>
</div>
{% endblock %}