{% extends 'base.html' %}

{% block title %}Emitir Interesse{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
    <h2>Emitir Interesse</h2>
    <a href="{% url 'dashboard' %}" class="btn fancy-btn fancy-dark m-2"><i class="bi bi-grid"></i> Ir para o Painel</a>
    <p>Aqui você pode Emitir Interesse em projetos e parcerias.</p>
</div>
                      </div>
</div>
</div>
{% endblock %}