{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- ***** Hero Area Start ***** -->
    <div class="fancy-hero-area bg-img bg-overlay">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="fancy-hero-content text-center">
                        <!-- Video Overview -->
                        <h2>Abrindo caminhos para inovação e parcerias! Busque, compartilhe e invista no que acredita.</h2>
                        <div class="video-overview">
                            <a href="{%static ''%}" class="video--play--btn"><i class="fa fa-play" aria-hidden="true"></i>Conheça o Porteiras</a>
                        </div>
                        <a href="#sobre" class="btn fancy-btn fancy-active">Sobre nós</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Top Feature Area Start ***** -->
    <div class="fancy-top-features-area bg-gray">
        <div class="container">
            <div class="row">
            <div class="col-12">
                <div class="fancy-top-features-content">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Colaboração</h5>
                                <p>O Porteiras facilita o encontro entre inovadores, pesquisadores e instituições, criando uma rede colaborativa de desenvolvimento e aprendizado contínuo.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-top-feature">
                                <h5><i class="fa fa-rocket" aria-hidden="true"></i>Inovação</h5>
                        <p>Com foco em inovação, o Porteiras oferece uma vitrine tecnológica onde projetos e tecnologias emergentes ganham visibilidade e conectam-se com potenciais parceiros e investidores.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-top-feature">
                        <h5><i class="fa fa-diamond" aria-hidden="true"></i>Impacto</h5>
                        <p>Por meio do Porteiras, tecnologias em diversas fases são impulsionadas, gerando impacto direto nas comunidades e na economia local, através de soluções práticas e sustentáveis.</p>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    <!-- ***** Top Feature Area End ***** -->

    <!-- ***** About Us Area Start ***** -->
    <section class="fancy-about-us-area bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="about-us-text">
                        <h2>Inovação, pesquisa e desenvolvimento</h2>
                        <p>O Porteiras tem como missão fomentar a inovação e o desenvolvimento de soluções que impactem positivamente a comunidade. Nosso objetivo é conectar inventores, instituições e empresas, promovendo a ciência e o conhecimento como ferramentas transformadoras para o crescimento regional e a melhoria das condições de vida. Acreditamos que a colaboração e a pesquisa podem mudar nossa sociedade e a forma como interagimos com o mundo.</p>
                        <p>Clique e veja ações de sucesso no Brasil. </p>
                        <a href="galeria" class="btn fancy-btn fancy-dark">Galeria de Fotos</a>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/bg-img/about-1.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->        

    <!-- ***** Service Area Start ***** -->
    <section class="fancy-services-area bg-img2 bg-overlay section-padding-100-70" style="background-image: url({% static 'img/bg-img/hero-2.jpg' %})" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading heading-white text-center">
                    <h2>Nossos Serviços</h2>
                    <p>O Porteiras é uma plataforma inovadora que conecta inventores, instituições e empresas, com o objetivo de promover tecnologias regionais e incentivar parcerias estratégicas. Acreditamos no poder da colaboração para impulsionar o desenvolvimento tecnológico e o crescimento econômico local, melhorando a comunidade por meio da inovação.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="0.5s">
                    <i class="ti-ruler-pencil"></i>
                    <h5>Propriedade Intelectual</h5>
                    <p>Através da proteção de propriedade intelectual, o Porteiras garante que as inovações da nossa comunidade possam ser exploradas de forma estratégica e segura, permitindo o crescimento sustentável das ideias.</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1s">
                    <i class="ti-desktop"></i>
                    <h5>Inventores</h5>
                    <p>Os inventores são o coração do Porteiras. Nossa missão é apoiar o desenvolvimento de ideias e transformá-las em produtos viáveis por meio de parcerias e acesso a recursos tecnológicos.</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-12 col-md-4">
                <div class="single-service-area text-center wow fadeInUp" data-wow-delay="1.5s">
                    <i class="ti-announcement"></i>
                    <h5>Empresas/Instituições</h5>
                    <p>O Porteiras busca conectar empresas e instituições a tecnologias emergentes, promovendo colaborações que impulsionam o desenvolvimento e criam novas oportunidades de mercado.</p>
                </div>
            </div>
        </div>
    </div>
    <br></br><br></br>
    <div class="cta-content text-center">
        <h2>Tem uma tecnologia ou está em busca de uma solução inovadora?</h2>
        <p>Entre em contato conosco para explorar parcerias e oportunidades. Como podemos colaborar com você?</p>
        <a href="contate" class="btn fancy-btn">Contate-nos</a>
    </div>
    <br></br>
</section>

<section class="fancy-blog-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Exemplos de Projetos</h2>
                    <p>No Porteiras, trabalhamos para resolver os desafios da nossa comunidade através da ciência e inovação, transformando ideias em soluções práticas e impactantes.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                    <img src="{% static 'img/porteiras.png' %}" alt="">
                    <div class="blog-content">
                        <h5>PORTEIRAS</h5>
                        <p>O Porteiras foi criado para facilitar a conexão entre inventores, instituições e empresas, promovendo o crescimento de tecnologias e inovações na região.</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="1s">
                    <img src="{% static 'img/alpha.png' %}" alt="">
                    <div class="blog-content">
                        <h5>ALPHA</h5>
                            <p>Divulgação de academias e profissionais da área, contendo ofertas a venda de produtos.</p>
                    </div>
                </div>
            </div>
            <!-- Single Blog -->
            <div class="col-12 col-md-4">
                <div class="single-blog-area wow fadeInUp" data-wow-delay="1.5s">
                    <img src="{% static 'img/apostation.png' %}" alt="">
                    <div class="blog-content">
                        <h5>APOSTATION</h5>
                        <p>Conheça a plataforma de apostas inovadora, que conecta usuários a novas formas de entretenimento e interação.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- ***** Blog Area End ***** -->
    <div class="site-section" id="Desenvolvedores">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h3>Desenvolvedores</h3>
                  <p>Entre em contato com nossos desenvolvedores pela redes sociais.</p>
                   <div class="row large-gutters">
                <div class="col-md-4 person col-lg-2 mb-2 mb-lg-0">
                  <img src="{%static 'img/img-ds/ds1.jpg'%}" alt="Image" class="img-fluid mb-5">
                  <h3>Hudson Madeira</h3>
                  <p class="mb-4 opacity-7">Desenvolvedor</p>
                  <div class="footer-social-widegt d-flex align-items-center">                                 
                        <a href="https://www.instagram.com/">
                        <i class="fa fa-instagram"></i>
                        </a>
                   </div>
                </div>

                <div class="col-md-4 person col-lg-2 mb-2 mb-lg-0">
                  <img src="{%static 'img/img-ds/robson.jpg'%}" alt="Image" class="img-fluid mb-5">
                  <h3>Robson Freitas</h3>
                  <p class="mb-4 opacity-7">Desenvolvedor</p>
                   <div class="footer-social-widegt d-flex align-items-center">                         
                        <a href="https://www.instagram.com/robsonabf/">
                        <i class="fa fa-instagram"></i>
                        </a>

                   </div>
                </div>


                </div>
                </div>
              </div>
            </div>
          </div>
          <br>
{% endblock %}