{% extends 'base.html' %}

{% block title %}Mentoria Confirmada{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
        <h2>Mentoria Confirmada</h2>
        
        <div class="mentorship-confirmation">
            <h3>Parabéns! A mentoria foi firmada para o projeto {{ mentorship_request.project.title }}.</h3>
            <<p><strong>Solicitante:</strong> {{ mentorship_request.project.owner.user.username }}</p>
            <p><strong>Data da Confirmação:</strong> {{ mentorship_request.created_at }}</p>
            <h6>Mentores Confirmados:</h6>
            <ul>
                {% for mentor in mentores_confirmados %}
                    <li>
                        <strong>Nome:</strong> {{ mentor.mentor.user.get_full_name }} <br>
                        <strong>Bio:</strong> {{ mentor.mentor.bio }} <br>
                        <strong>LinkedIn:</strong> <a href="{{ mentor.mentor.linkedin }}" target="_blank">Perfil do LinkedIn</a>
                    </li>
                {% empty %}
                    <li>Nenhum mentor confirmado.</li>
                {% endfor %}
            </ul>
        </div>
        
        <a href="{% url 'dashboard' %}" class="btn btn-success">Voltar ao Dashboard</a>
    </div>
</div>
</div>
</div>
{% endblock %}
