{% extends 'base.html' %}

{% block title %}Tecnologias{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
    <section class="fancy-blog-area section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Projetos do Eixo Informática e Comunicação</h2>
                        <p>Nós buscamos soluções para problemas da comunidade. Através da ciência, podemos
                        mudar a vida das pessoas.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Blog -->
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/suasaude.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="https://suasaudeif.000webhostapp.com">Sua Saúde</a></h5>
                            <p>Este site foi desenvolvido por alunos do curso Técnico em Informática do Instituto Federal de Educação, Ciência e Tecnologia- IFPI campus Oeiras. O IFPI Sua Saúde é um site de fácil acesso e manuseio voltado a área da saúde do campus, contendo informações tanto dos profissionais que atuam nessa área como informações do campus, conta também com áreas onde os alunos podem solicitar consultas e ver questões em torno do mesmo. Contamos ainda com uma área do profissional que dará maior flexibilidade e praticidade ao acesso as consultas. Nosso site tem como objetivo uma maior facilidade do agendamento de consultas, além de melhorar e facilitar a comunicação de aluno e profissional.</p>
                            <a href="https://suasaudeif.000webhostapp.com">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog -->
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/mural.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="http://mural-ifpi-oeiras.herokuapp.com">Mural IFPI</a></h5>
                            <p>Este site foi desenvolvido por alunos do curso Técnico em Informática do Campus Oeiras, o intuito principal do site é levar informações a comunidade acadêmica da instituição, também ao público de fora que deseja ingressar na instituição. O site também conta com um sistema de reserva de transportes e/ou salas do Campus, sendo que o sistema é restrito somente para servidores da própria instituição.</p>
                            <a href="http://mural-ifpi-oeiras.herokuapp.com">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog -->
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/convida.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="http://ifpi-oeiras-convida.herokuapp.com">IFPI Oeiras - Convida</a></h5>
                            <p>Este site foi desenvolvido por alguns alunos do curso técnico em informática. No site você encontra uma série de informações sobre o campus Oeiras, das mais diversas. É destinado a todas as pessoas interessadas a ingressar na Instituição.</p>
                            <a href="http://ifpi-oeiras-convida.herokuapp.com">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/lco.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="https://lcoeiras.000webhostapp.com">LCO - Leis Compiladas de Oeiras</a></h5>
                            <p>Este site foi desenvolvido para facilitar o acesso dos usuários a leis atualizadas da cidade de Oeiras - PI.</p>
                            <a href="https://lcoeiras.000webhostapp.com">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/agifpi.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="http://agifpii.000webhostapp.com/">AGIFPI - SISTEMA DE GESTÃO EMPRESARIAL</a></h5>
                            <p>Uma grande vantagem de se utilizar esse site é principalmente avaliar de modo aproximado qual a qualidade de seu profissionalismo, com esse teste você pode:

Ter uma boa nota no questionário e perguntas;
Ver em quais pontos você foi melhor e em quais pontos você irá precisar melhorar para ver se você tem os requisitos para gerir sua empresa.
Descobrir seus pontos fracos e encorajar-se para realisar pesquisas, e assim melhorar os pontos fracos.</p>
                            <a href="http://agifpii.000webhostapp.com/">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/porteiras.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="#">PORTEIRAS</a></h5>
                            <p>O Site PORTEIRAS foi desenvolvido e pensado para facilitar o trânsito entre as instituições, os inventores e as empresas. Permite expor as tecnologias em um ambiente centralizado e com a confiança de podermos negociar as tecnologias com o aporte profissional que o campus possui. </p>
                            <a href="#">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/educaestagio.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="#">EDUCAESTAGIO</a></h5>
                            <p>O Site EDUCAESTAGIO possui a missão de facilitar a busca por vagas pelos estudantes. Assim como busca facilitar a divulgação de vagas de estágio por empresas e instituições que possuem corpo discente capacitado para realizar estágio profissional. </p>
                            <a href="#">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/SEMINFOEIR.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="#">III SEMINFOEIR</a></h5>
                            <p>O Site da III SEMANA DE INFORMÁTICA DO CAMPUS OEIRAS é um site para eventos que pode ser reutilizado. No protótipo base, estamos realizando o site para gerir e divulgar o nosso evento anual. </p>
                            <a href="#">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/agrox.jpg'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="#">AGROX</a></h5>
                            <p>O aplicativo AgroX é um software comercial para E-Commerce da agricultura familiar. A solução busca aproximar vendedores de compradores da agricultura familiar da região de Oeiras-PI. </p>
                            <a href="#">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/alpha.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="#">ALPHA</a></h5>
                            <p>A ALPHA oferece serviços de divulgação de academias e profissionais da área, além de ofertar a venda de produtos. A ALPHA cuida da gestão básica das academias e dos alunos, encurtando o caminho burocrático. </p>
                            <a href="#">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog-area wow fadeInUp" data-wow-delay="0.5s">
                        <img src="{%static 'img/apostation.png'%}" alt="">
                        <div class="blog-content">
                            <h5><a href="#">APOSTATION</a></h5>
                            <p>A plataforma APOSTATION oferece serviços de jogos para o usuário realizar atividades sobre os jogos de futebol da região e de campeonatos específicos. </p>
                            <a href="#">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                  </div>
            </div>
</div>
</div>
{% endblock %}