{% extends 'base.html' %}

{% block title %}Participações em Projetos{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
    <h2>Participações em Projetos</h2>
    <a href="{% url 'dashboard' %}" class="btn fancy-btn fancy-dark m-2">Ir para Dashboard</a>
    <p>Aqui você pode acompanhar as Participações em Projetos.</p>
</div>
                    </div>
</div>
</div>
{% endblock %}
