{% extends 'base.html' %}

{% block title %}Meus Projetos{% endblock %}

{% block content %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
<h2>Meus Projetos</h2>
<ul>
    {% for project in projects %}
        <li>
            <a href="{% url 'project-detail' project.id %}">{{ project.title }}</a>
            ({{ project.status }})
        </li>
    {% empty %}
        <li>Você não tem projetos cadastrados.</li>
    {% endfor %}
</ul>
<a href="{% url 'project-create' %}" class="btn fancy-btn fancy-dark bg-transparent">Adicionar Novo Projeto</a>
                    </div>
            </div>
</div>
</div>
{% endblock %}
