{% extends 'base.html' %}

{% block title %}Meus Projetos{% endblock %}
{% load static %}
{% block content %}
<div class="fancy-bg-dark section-padding-100">
    <div class="container fancy-bg-white">
        <div class="row">
            <div class="col-12">
                <h2>Meus Projetos</h2>
                <!-- Botão para adicionar novo projeto -->
                <div class="mt-4">
                    <a href="{% url 'project-create' %}" class="btn fancy-btn fancy-dark bg-transparent">
                        <i class="bi bi-plus-lg"></i>Adicionar Novo Projeto</a>
                </div>
                <hr>
                <!-- Verifica se há projetos cadastrados -->
                {% if projects %}
                <div class="row">
                    {% for project in projects %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <!-- Exibe logo do projeto ou imagem padrão -->
                            {% if project.logo %}
                            <img src="{{ project.logo.url }}" class="card-img-top" alt="{{ project.title }}">
                            {% else %}
                            <img src="{% static 'img/dalle.webp' %}" class="card-img-top" alt="Sem imagem">
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{% url 'project-detail' project.id %}">{{ project.title }}</a>
                                </h5>
                                <p class="card-text"><strong>Status:</strong> {{ project.get_status_display }}</p>
                                <p class="card-text"><strong>Instituição:</strong> {{ project.institution }}</p>
                                <p class="card-text"><strong>Financiamento Necessário:</strong> {{ project.funding_required }}</p>

                                <!-- Adiciona botões de ação -->
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'project-detail' project.id %}" class="btn btn-primary btn-sm">
                                        Ver Detalhes <i class="bi bi-eye"></i></a>
                                    <a href="{% url 'project-update' project.id %}" class="btn btn-secondary btn-sm">
                                        Editar <i class="bi bi-pencil-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-info">Você não tem projetos cadastrados.</div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
