{% extends 'base.html' %}

{% block title %}Detalhes da Parcerias{% endblock %}

{% block content %}
{% load static %}
<div class="fancy-bg-dark section-padding-100">
<div class="container fancy-bg-white">
            <div class="row">
                <div class="col-12 col-md-6">
<a href="{% url 'dashboardpub' %}" class="btn btn-secondary">Ir para o Painel</a>
                    <hr>
<h2>Portfólio de {{ user_profile.nome }}</h2>
<div class="col-md-4">
            <!-- Exibir foto do perfil, se existir -->
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}" class="img-thumbnail">
            {% else %}
                <span class="bi bi-person-circle" style="font-size: 100px;"></span>
                <img src="{% static 'img/avatar.png' %}" alt="Sem foto" class="img-thumbnail">
            {% endif %}
</div>
                    <div class="col-md-8">
            <h4>Informações do Perfil</h4>
            <p><strong>Nome Completo:</strong> {{ profile.nome }}</p>
            <p><strong>Email:</strong> {{ profile.user.email }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>
            <p><strong>Tipo de Usuário:</strong> {{ profile.user_type }}</p>
            <p><strong>Instituição:</strong> {{ profile.institution_name }}</p>
            <p><strong>Linkedin:</strong> {{ profile.linkedin }}</p>
            <p><strong>Website:</strong> {{ profile.website }}</p>
        </div>
                    <hr>
<h3>Projetos:</h3>
<ul>
    {% for projeto in projetos_dono %}
    <li>
        <strong>Projeto:</strong> {{ projeto.title }} <br>
        <strong>Descrição:</strong> {{ projeto.description }} <br>
        <strong>Fase:</strong> {{ projeto.get_stage_display }} <br>
        <strong>Necessidades:</strong> {{ projeto.needs.all|join:", " }} <br>
        <strong>Localidade:</strong> {{ projeto.location_city }} - {{ projeto.location_state }} <br>
    </li>
    {% endfor %}
</ul>

<h3>Mentorias:</h3>
<ul>
    {% for mentoria in mentorias %}
    <li>
        <strong>Projeto:</strong> {{ mentoria.project.title }} <br>
        <strong>Mensagem:</strong> {{ mentoria.message }} <br>
        <strong>Status:</strong> {% if mentoria.is_accepted %}Aceito{% else %}Pendente{% endif %} <br>
    </li>
    {% endfor %}
</ul>

<h3>Parcerias:</h3>
<ul>
    {% for parceria in parcerias %}
    <li>
        <strong>Projeto:</strong> {{ parceria.project.title }} <br>
        <strong>Mensagem:</strong> {{ parceria.message }} <br>
        <strong>Status:</strong> {% if parceria.is_accepted %}Ativa{% else %}Pendente{% endif %} <br>
    </li>
    {% endfor %}
</ul>
    </div>
</div>
</div>
</div>
{% endblock %}